{% extends "layout.html.twig" %}
{% set active="game"  %}
{% set version="Système aléatoire de partie League of Legends version 1.0-Beta"  %}
{% block content %}
<div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes champions</h3>
                    </div>
                    <div class="panel-body">
                        <p>Ici vous pouvez consulter et modifier votre liste de champions.</p>
                           <a href="{{ path('myChamp') }}">Voir mes héros</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 text-center">
                <h3>Champions gratuit :</h3>
            </div>
        </div>
        <div class="row">
            <div id="freechamp">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ app.request.basepath }}/js/lolrandom.js"></script>
    <script>
        $(document).ready(function() {
            freeChamp("freechamp");
        });
        $("#namePlayer").keyup(function () {
            searchPlayer($("#namePlayer").val());
        });
    </script>
{% endblock %}